
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tangerine:wght@400;700&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
}


.titleImage {
  display:flex;
  justify-content:center;
   /* background-image: url('https://i.ibb.co/vYrCj67/apt-1.png');  */
   background-color:maroon;
  /* background-image:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3)), url('https://i.ibb.co/447H4Rh/apt-2.png'); */
  height:500px;
  align-items:center;
  font-family:'Great Vibes', cursive;
  font-weight:bold;
  text-align:center;
  font-size:120px;
  background-size:80%;
  z-index:1;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
 
  top:0;
  background-position:center;
  
  position:relative;
  
}

.header {
 font-family: 'Great Vibes', cursive;
 font-size:31px;
 font-weight:bold;
 background-image: url('https://i.ibb.co/FXVmYTr/rb-19331.png');
 background-repeat: no-repeat;
 
 background-position:center;
position:relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
   
  z-index: 100;
  
  height:30rem;
  background-size:125% 105%;
  
  
  
}

.header > * {
  
  border-right-style:solid;
  border-width:4px;
  padding: 40px 150px;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  
  color:black;
  
  margin: 50px 10px 10px 10px;
} 
.header div:nth-child(3) {
  border:none;
}
.pagec{
  padding: 10px 20px;
  text-align: left;
  font-size: 24px; 
  color: black;
  font-family:'Great Vibes', cursive;
}
.pagec * {
  margin:4px;
  
}
html,
body {
  max-width: 100vw;
  
 
  

  
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
  url('https://i.ibb.co/rGSw06z/832ba0ce-cfb7-4d84-b791-ea4c404f975a.webp');
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size:cover;
  
   /* Center the image on the page */
  background-attachment: fixed; /* Optional: Makes the background fixed when scrolling */
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:block;
  flex-direction:column;
  justify-content:center;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

a {
  color: inherit;
  text-decoration: none;
}
.mainContent {
  background-color:#f3ecda;
  
  
  border-color: #e0c070;
  
  border-image-width:100px;
  border-width:20px;
  margin:6rem 6rem 6rem 6rem;
  border-radius:15px;
  box-shadow: 1px 1px 8px 8px peachpuff;
  margin-top:3rem;
}
.smallNavBar {
  background-color:black;
  height:5rem;
  top:0;
  position:sticky;
  z-index:3000;
  padding-top:10px;

}
.smallNavBar * {
  margin:10px;
  color:white;
  
}
@keyframes slideUp {
  0% {
    transform: translateY(0); /* Start from its original position */
  }
  100% {
    transform: translateY(-10.5vh); /* Move the image up by the height of the viewport */
  }
}


.curtainGIF {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire screen */
  z-index: 1000; 
  animation: slideUp 0.1s ease-out forwards;
  animation-delay: 2s;
}
.Click {
  cursor:pointer;
  position:absolute;
  
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    
    
  }
}

@media (max-width:768px) {
  .titleImage {
    font-size:60px;
    height:20rem;
    border-radius:0px;
  }
  .header{
    display:none;

  }
  .pagec{
    text-align:center;
    font-family:'Great Vibes', cursive;
  }
  
  .mainContent {
    margin-top:0px;
    width: 90%; /* Set a relative width to fit within the screen */
    box-sizing: border-box;
    margin-left:18px;
    height:auto;
    margin-top:30px;
    text-align:center;
    
    
  }
  .curtainGIF {
  top:10%;
  
  }
}