.playBody {
    .fade-in-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1000;
        animation: fadeOut 2s forwards;
      }
      
      @keyframes fadeOut {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          visibility: hidden;
        }
      }
    
}
.gameContainer {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-image: url('https://i.ibb.co/JQYsCF3/picmix-com-1194556.gif');
  background-size:cover;
  background-position: center;
  height:50rem;
  text-align:center;

}
.gameTitleImage {
  border-radius:1000px;
  margin:80px;

}
.gameTitle {
  position:absolute;
  top:900px;
  font-size:100px;
  color:pink;
  
}
.audioPlayer {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  text-align:center;
}
.audioPlayer * {
  cursor:pointer;
}
.inputBox {
  border-radius:10px;
  background-color:white;
  color:black;
  height:70px;
  width:500px;
  margin:25px;
  font-size:25px;
  padding:10px;
}
.GUESS {
  font-weight:bold;
  font-size:50px;
  color:violet;
  cursor:pointer;
}